

<div class="col-md-4 col-sm-6 content-card">
    <div class="card-big-shadow">
      <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
        <div class="content">
          <%= render @note %>
          <div class="links">
            <a href="<%= edit_note_path(@note) %>">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="<%= notes_path %>">
              <i class="fa-solid fa-backward-step"></i>
            </a>

            <%= button_to "Destroy this note", @note, method: :delete, class: %w(btn btn-sm btn-danger my-4) %>
          </div>
        </div>
      </div> <!-- end card -->
    </div>
  </div>